
// COLORS
// ---------------------------
$color-red: 			#aa4649;
$color-dark-red: 		#850000;
$color-green:			#c4d600;
$color-grey:			#979797;
$color-light-grey:		#cfcfcf;
$color-dark-grey:		#6a6a6a;

$color-background:		#f6f6f6;

$clr-success:			#4CAF50;
